/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
.cabecalho {
    background-color: #e62dc7;
    color: rgb(9, 8, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.container-esquerda {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 100%;
   
}

/* Menu principal */
.lista-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.lista-menu li {
    position: relative;
}

.lista-menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    transition: background 0.3s;
}

.lista-menu li a:hover {
    background-color: #e0cdcd;
    border-radius: 4px;
}

/* Submenu suspenso */
.lista-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #ec9c9c;
    min-width: 180px;
}

.lista-menu li ul li a {
    padding: 10px 15px;
    gap: 8px;
}

.lista-menu li:hover ul {
    display: block;
}

.lista-menu li ul li a:hover {
    background-color: #ddcfcf;
}

/* Ícones à direita */
.container-direita {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-direita a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* Esconde botão hamburguer (apenas exemplo de responsivo futuro) */
.menu-botao,
.menu-icone {
    display: none;
}