.conteudo{
    padding: 40px;
    background-color: rgb(164, 17, 137);
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.introducao{
    text-align: center;
    margin-bottom: 40px;
}
.introducao h1{
    font-size: 2em;
    margin-bottom: 15px;
    color: rgb(1, 1, 1);
}
.introducao p{
    font-size: 1.1em;
    margin-bottom: 20px;
}
.introducao img{
    width: 300px;
    border-radius: 10px;
}
.beneficios{
    margin-bottom: 40px;
}
.beneficios h2{
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
.beneficios ul{
   list-style: none;
   padding: 0;
}
.beneficios li{
    margin: 10px 0;
    font-size: 1.1em;
}
.beneficios i{
    color:rgb(0, 0, 0);
    margin-right: 10px;
}
.recursos h2{
    color: rgb(0, 0, 0);
    margin: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
}
.card{
    background: #000000;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(38, 108, 55, 0.1);
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 125px;
    margin-bottom: 15px;
}
.card h3{
    margin-bottom: 10px;
    color:rgb(226, 226, 226)
}
.card p{
    font-size: 0.95em;
    margin-bottom: 15px;
}
.card a {
    text-decoration: none;
    color:aliceblue;
    background: #b4156c;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background 0.3s;
}
.card a hovel{
    background:#d26ad5;
}
.rodape{
    background-color: #dd0ccc;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.container-rodape{
    max-width: 1200px;
    margin: 0 auto;
}
.links-rodape{
    list-style: none;
    padding:0;
    display:flex;
    justify-content: center;
    gap:20px
}
.links-rodape{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}
.links-rodape a:hover{
    color: #c4b3c2;
}